SUPABSE_URL="https://ekyfwsqzffkbzuyukzfu.supabase.co"
SUPABSE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVreWZ3c3F6ZmZrYnp1eXVremZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjI5MTc4ODYsImV4cCI6MTk3ODQ5Mzg4Nn0.zg4CUJl-6ObHio6mVlKBdupBj8M_NMaYACEFUGkknRg"